desktop.ini
node_modules/
__pycache__
.python-version

# For Python environment
.env
.venv
.pdm-python

# For .NET environment
bin/
obj/

# For Nix environment
.direnv
shell.nix

/.quarto/
**/_site/


# MyST build outputs
_build
