// Adapted from da-one-ocean (Base24 by NNBnh)

$base00: #171726 !default;
$base01: #22273d !default;
$base02: #525866 !default;
$base03: #ffffff !default;
$base04: #ffffff !default;
$base05: #ffffff !default;
$base06: #878d96 !default;
$base07: #c8c8c8 !default;
$base08: #e62b3e !default; // red
$base09: #ffc387 !default; // yellow
$base0A: #ff9470 !default; // orange
$base0B: #98c379 !default; // green
$base0C: #71CCBC !default; // teal
$base0D: #8AF5FF !default; // cyan
$base0E: #e799ff !default; // violet
$base0F: #b3684f !default; // brown
$base10: #d70a53 !default; // pink
$base11: #7986CB !default; // indigo
$base12: #8190f8 !default; // blue
$base13: #ffc387 !default;
$base14: #98c379 !default;
$base15: #8af5ff !default;
$base16: #6bb8ff !default;
$base17: #e799ff !default;

$white:    $base07 !default;
$gray-100: $base06 !default;
$gray-200: $base06 !default;
$gray-300: $base05 !default;
$gray-400: $base04 !default;
$gray-500: $base04 !default;
$gray-600: $base03 !default;
$gray-700: $base02 !default;
$gray-800: $base01 !default;
$gray-900: $base01 !default;
$black:    $base00 !default;

$pink:    $base10 !default;
$red:     $base08 !default;
$orange:  $base0A !default;
$yellow:  $base09 !default;
$green:   $base0B !default;
$cyan:    $base0D !default;
$teal:    $base0C !default;
$blue:    $base12 !default;
$indigo:  $base11 !default;
$purple:  $base0E !default;
