// Adapted from da-one-paper (Base24 by NNBnh)

$base00: #faf0dc !default;
$base01: #c8c8c8 !default;
$base02: #888888 !default;
$base03: #181818 !default;
$base04: #181818 !default;
$base05: #181818 !default;
$base06: #585858 !default;
$base07: #282828 !default;
$base08: #b3475b !default; // red
$base09: #FFC107 !default; // yellow
$base0A: #FF5722 !default; // orange
$base0B: #009688 !default; // green
$base0C: #4c988b !default; // teal
$base0D: #00ACC1 !default; // cyan
$base0E: #a158a1 !default; // violet
$base0F: #b3684f !default; // brown
// my custom additions
$base10: #d70a53 !default; // pink
$base11: #5555c2 !default; // indigo
$base12: #5890f8 !default; // blue
$base13: #ff9470 !default;
$base14: #76a85d !default;
$base15: #64b5a7 !default;
$base16: #5890f8 !default;
$base17: #c173d1 !default;

// Color system

$white:    $base00 !default;
$gray-100: $base01 !default;
$gray-200: $base02 !default;
$gray-300: $base03 !default;
$gray-400: $base04 !default;
$gray-500: $base05 !default;
$gray-600: $base06 !default;
$gray-700: $base07 !default;
$gray-800: $base07 !default;
$gray-900: $base07 !default;
$black:    $base07 !default;

$pink:    $base10 !default;
$red:     $base08 !default;
$orange:  $base0A !default;
$yellow:  $base09 !default;
$green:   $base0B !default;
$cyan:    $base0D !default;
$teal:    $base0C !default;
$blue:    $base12 !default;
$indigo:  $base11 !default;
$purple:  $base0E !default;
