$min-contrast-ratio: 4.5 !default;

// Fonts
@font-face {
  font-family: "IosevkaSS05";
  src: local("assets/fonts/IosevkaSS05-Regular.ttc");
}

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:
  "Fira Sans Condensed",
  Ubuntu,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol" !default;

// stylelint-disable-next-line value-keyword-case
// adapted from: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/
$font-family-monospace: "IosevkaSS05", "Fira Code", ui-monospace, Menlo, Monaco,
  "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
  "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
  "Courier New", monospace !default;

// Variables

$ubuntu-web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" !default;
@if $ubuntu-web-font-path {
  @import url($ubuntu-web-font-path);
}

$firasans-web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" !default;
@if $firasans-web-font-path {
  @import url($firasans-web-font-path);
}

$firacode-web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" !default;
@if $firacode-web-font-path {
  @import url($firacode-web-font-path);
}

/*-- scss:rules --*/

.quarto-title-block {
  border-bottom: 1px solid $gray-300;
}

div.sourceCode,
pre
{
  border-radius: 0 !important;
  padding: 1em;
}

.lead {
  font-size: 1rem !important;
}

.quarto-dark .code-with-filename-file {
  background-color: $gray-300 !important;
}

/* Baseline for default links: https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/ */
a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration: underline !important;
  text-decoration-thickness: max(0.08em, 1px) !important;
  text-underline-offset: 0.15em !important;
}

/* Scroll margin allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}
/* Scroll margin allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

// TODO: put these and other non-$var using styles in style.css
//
// figure {
//   display: inline-block;
//   border: 1px dotted;
//   padding: 2rem;
// }
// figure img {
//   vertical-align: top;
//   max-width: 500px;
// }
figure figcaption {
  // text-align: left;
  font-size: 0.75rem;
}
.column-margin figure figcaption {
  text-align: right;
  font-size: 0.75rem;
}

//

// Indicators
.badge {
  &.bg-light {
    color: $body-color;
  }
}


